---
import type { MetaProps } from "@utils/content/meta";
import type { Author, Locale, Tag } from "@utils/content/shared";

type Props = MetaProps;

const {
  name,
  siteLocale,
  title,
  pageLocale,
  description,
  pageType = "website",
  image,
  twitterHandle,
  publishedTime,
  modifiedTime,
  authors,
  section,
  tags,
  defaultLocale,
  locales,
}: Props = Astro.props;

const baseUrl: URL = Astro.site ?? Astro.url;
const defaultCanonicalUrl = new URL(
  Astro.url.pathname + Astro.url.search,
  baseUrl,
);
---

<head>
  <!-- Primary Meta Tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <!-- SEO Meta Tags -->
  <title>{title} | {name}</title>
  <meta name="twitter:title" content={title} />
  <meta property="og:title" content={title} />
  <link rel="canonical" href={defaultCanonicalUrl.href} />
  <meta name="robots" content="index, follow" />
  <meta property="og:type" content={pageType} />
  <meta property="og:url" content={baseUrl.href} />
  <meta property="og:site_name" content={name} />
  <meta
    property="twitter:card"
    content={image ? "summary_large_image" : "summary"}
  />
  {
    description ? (
      <>
        <meta name="description" content={description} />
        <meta property="og:description" content={description} />
        <meta name="twitter:description" content={description} />
      </>
    ) : null
  }
  {
    image ? (
      <>
        <meta property="og:image" content={image.url} />
        <meta property="og:image:url" content={image.url} />
        <meta property="og:image:secure_url" content={image.url} />
        <meta property="twitter:image" content={image.url} />
      </>
    ) : null
  }
  {
    image && image.mime ? (
      <meta property="og:image:type" content={image.mime} />
    ) : null
  }
  {
    image && image.width ? (
      <meta property="og:image:width" content={`${image.width}`} />
    ) : null
  }
  {
    image && image.height ? (
      <meta property="og:image:height" content={`${image.height}`} />
    ) : null
  }
  {
    image && image.alternativeText ? (
      <>
        <meta property="og:image:alt" content={image.alternativeText} />
        <meta property="twitter:image:alt" content={image.alternativeText} />
      </>
    ) : null
  }
  {
    pageLocale ? (
      <meta property="og:locale" content={pageLocale} />
    ) : siteLocale ? (
      <meta property="og:locale" content={siteLocale} />
    ) : null
  }
  {
    defaultLocale ? (
      <meta property="og:locale:default" content={defaultLocale.code} />
    ) : null
  }
  {
    locales
      ? locales.map((loc: Locale) => (
          <>
            <meta property="og:locale:alternate" content={loc.name} />
            <link rel="alternate" hreflang={loc.name} href={`/${loc.code}`} />
          </>
        ))
      : null
  }
  {
    twitterHandle ? (
      <>
        <meta name="twitter:site" content={twitterHandle} />
        <meta name="twitter:creator" content={twitterHandle} />
      </>
    ) : null
  }
  {
    pageType === "article" && publishedTime ? (
      <meta property="article:published_time" content={publishedTime} />
    ) : null
  }
  {
    pageType === "article" && modifiedTime ? (
      <meta property="article:modified_time" content={modifiedTime} />
    ) : null
  }
  {
    authors
      ? authors.map((author: Author) => (
          <meta
            property="article:author"
            content={`${author.firstName} ${author.lastName}`}
          />
        ))
      : null
  }
  {section ? <meta property="article:section" content={section} /> : null}
  {
    tags
      ? tags.map((tag: Tag) => (
          <meta property="article:tag" content={tag.name} />
        ))
      : null
  }
  <!-- Preload custom fonts -->
  <link
    as="font"
    crossorigin
    rel="preload"
    href="/fonts/ChiKareGo2.ttf"
    type="font/ttf"
  />
  <link
    as="font"
    crossorigin
    rel="preload"
    href="/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf"
    type="font/ttf"
  />
  <link
    as="font"
    crossorigin
    rel="preload"
    href="/fonts/JetBrainsMono-VariableFont_wght.ttf"
    type="font/ttf"
  />
  <link
    as="font"
    crossorigin
    rel="preload"
    href="/fonts/SUSE-Italic-VariableFont_wght.ttf"
    type="font/ttf"
  />
  <link
    as="font"
    crossorigin
    rel="preload"
    href="/fonts/SUSE-VariableFont_wght.ttf"
    type="font/ttf"
  />
</head>
